@charset "UTF-8";

/* INICIO RESET GLOBAL */

/* Paleta de colores */
:root {
  --Main-color: #f06135;
  --Background: #0f1108;
  --Borders: #3d3d3d;
  --Texts: whitesmoke;
  --Gradient: #fff800;
  --Secondary-gradient: rgba(236, 180, 28, 0.5);
  --Lightbox: rgba(240, 97, 53, 0.5);
  --Shadows: black;
}
/* Fin de Paleta de colores */

/* Barra de scroll personalizada */
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--Borders);
}

::-webkit-scrollbar-thumb {
  background: var(--Main-color);
  border-radius: 1rem;
}
/* Fin de barra de scroll personalizada */

/* Selector universal */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* Fin de Selector universal */

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
/* Fin */

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* fin */

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}
/* Fin */

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}
/* Fin */

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}
/* Fin */

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* Fin */

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* Fin */

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--Main-color);
  color: var(--Texts);
}
::selection {
  background-color: var(--Main-color);
  color: var(--Texts);
}
/* Fin */

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Fin */

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: var(--Texts);
}
/* Fin */

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--Background);
  color: var(--Texts);
}
/* Fin */

/* FIN RESET GLOBAL */

/* Wrapper */
.Wrapper {
  width: 80%;
}
/* Fin de Wrapper */

/* Header */
.Header {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 0.0625rem solid var(--Borders);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--Background);
}
.Header-wrapper {
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-grp {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-logo {
}
.Header-img {
  width: 100%;
  height: 100%;
}
.Header-nav {
}
.Header-responsive {
  margin-left: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
/* Menú de navegación */
.Navmenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.Navmenu-li {
  white-space: nowrap;
  transform: scale(1);
  transition: all 0.5s ease;
}
.Navmenu-li:hover {
  text-shadow: 0rem 0rem 1rem var(--Main-color);
}
.Navmenu-li:active {
  color: var(--Main-color);
}
.Navmenu-li::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background: var(--Main-color);
  display: block;
  transition: all 0.3s ease;
}
.Navmenu-li:hover::after {
  width: 100%;
}
.Navmenu-a {
}
/* Fin de Menú de navegación */

/* Redes sociales */
.Rrss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.Rrss-li {
}
.Rrss-a {
}
.Rrss-svg {
  padding: 0.3125rem;
  width: 2rem;
  height: 2rem;
  transition: all 0.5s ease;
  transform: scale(1);
}
.Rrss-svg:hover {
  filter: drop-shadow(0rem 0rem 1rem var(--Main-color));
}
.Rrss-svg:active {
  transform: scale(1.1);
  fill: var(--Main-color);
}
/* Fin de Redes sociales */
.Header-btn {
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
  display: none;
}
.Header-btn:active {
  filter: drop-shadow(0rem 0rem 1rem var(--Main-color));
}
.Header-svg {
  margin-left: 3rem;
  fill: var(--Texts);
}
/* Fin de Header */

/* Main */
.Main {
  min-height: 100vh;
  overflow: hidden;
}
.Main-wrapper {
  margin: auto;
}
.About {
  width: 100%;
  padding: 15vh 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.About-columna {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.About-h2 {
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  color: var(--Main-color);
}
.About-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.About-svg {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}
.About-span {
  font-size: 1rem;
  text-transform: uppercase;
}
.About-p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  animation: desdeIzq 0.5s ease backwards;
  transition: all 0.5s ease;
}

.About-img {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  border-radius: 1rem;
  background: linear-gradient(25deg, var(--Gradient) 0%, var(--Main-color) 40%, var(--Main-color) 60%, var(--Gradient) 100%);
  box-shadow: 0rem 0rem 2rem 0.125rem var(--Lightbox);
  animation: aparecer 1s ease;
}
@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.Container-p {
}
.Container-p > :nth-child(1) {
  animation-delay: 0.2s;
}
.Container-p > :nth-child(2) {
  animation-delay: 0.4s;
}
.Container-p > :nth-child(3) {
  animation-delay: 0.6s;
}
.Container-p > :nth-child(4) {
  animation-delay: 0.8s;
}
.Container-p > :nth-child(5) {
  animation-delay: 1s;
}
@keyframes desdeIzq {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.Texto-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
  border-bottom: 0.1875rem solid var(--Texts);
}
.Texto-ul:hover {
  filter: drop-shadow(0rem 0rem 1rem var(--Main-color));
}
.Texto-ul:active {
  transform: scale(1.05);
}
.Texto-li {
  font-weight: 700;
  font-size: 2rem;
  color: whitesmoke;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2rem;
  pointer-events: none;
}
.Texto-ul > li:nth-child(1) {
  padding-left: 0;
}
.Texto-ul.isHidden .visible {
  padding-left: 0;
}
.Texto-ul .visible {
  padding-left: 0.5rem;
  color: var(--Main-color);
}
.Texto-ul.isHidden .invisible {
  opacity: 0;
  max-width: 0;
  padding-left: 0;
}
/* Fin de Main */

/* Footer y Contacto */
.Footer {
  width: 100%;
  padding: 2rem 0;
  border-top: 0.0625rem solid var(--Borders);
  font-weight: 500;
  background-color: var(--Background);
}
.Footer-wrapper {
  margin: auto;

  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  align-items: center;

  gap: 3rem;
}
.Copyright-span {
}
.Contacto-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.Contacto-span {
  padding-right: 1rem;
}
.Mail-span {
  padding-right: 5rem;
}
.Mail-span:hover {
  text-shadow: 0rem 0rem 1rem var(--Main-color);
}
.Mail-span::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background: var(--Main-color);
  display: block;
  transition: all 0.3s ease;
}
.Mail-span:hover::after {
  width: 100%;
}
.Mail-span:active {
  color: var(--Main-color);
}
/* Fin de Footer y contacto */

/* MEDIA QUERIES */
@media screen and (max-width: 112.5rem) {
}
@media screen and (max-width: 100rem) {
}
@media screen and (max-width: 83rem) {
}
@media screen and (max-width: 75rem) {
  .Header-responsive {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 64rem) {
  .Navmenu-a {
    font-size: 1rem;
  }
  .Footer-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .Contacto-span {
    padding: 2rem 0;
  }
  .Mail-span {
    padding: 2rem 0;
  }
  .Contacto-div {
    margin-left: 0rem;
  }
  .About {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .About-p {
    font-size: 0.875rem;
  }
  .About-columna {
    width: 100%;
  }
}
@media screen and (max-width: 50rem) {
}
@media screen and (max-width: 48rem) {
  .Header-wrapper {
    flex-flow: row wrap;
  }
  .Header-responsive {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;

    background: linear-gradient(25deg, var(--Gradient) 0%, var(--Main-color) 40%, var(--Main-color) 60%, var(--Gradient) 100%);
    box-shadow: 0rem 0rem 2rem 0.125rem var(--Lightbox);
    border: 0.125rem solid var(--Texts);
    border-radius: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    opacity: 0;
    transition: all 0.5s ease;
  }
  .Header-responsive.isActive {
    height: 35vh;
    margin: 1rem 0;
    padding: 3rem 0;
    opacity: 1;
  }
  .Navmenu-a {
    text-shadow: 0 0 1rem var(--Shadows);
  }
  .Rrss-svg {
    filter: drop-shadow(0 0 1rem var(--Shadows));
  }
  .Navmenu {
    display: flex;
    flex-flow: column;
  }
  .Header-btn {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  .About-p {
    font-size: 0.75rem;
  }
  .Texto-li {
    font-size: 1.5rem;
  }
  .Copyright-span,
  .Contacto-span,
  .Mail-span {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 30rem) {
  .Header-btn {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 24.375rem) {
}
@media screen and (max-width: 18.75rem) {
  .Navmenu {
    margin-top: 2rem;
    gap: 1rem;
  }
  .Header-ul.Rrss {
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .Texto-li {
    font-size: 1rem;
  }
}
