/* INICIO RESET GLOBAL */

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: whitesmoke;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #0f1108;
  color: whitesmoke;
  /* opcional */
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}
/* FIN RESET GLOBAL */

.Wrapper {
  width: 65%;
}
.Header {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 0.0625rem solid #3d3d3d;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #0f1108;
}
.Header-wrapper {
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-logo {
}
.Header-img {
}
.Header-nav {
  width: 100%;
}
.Navmenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10rem;
  gap: 2rem;
}
.Navmenu-li {
  white-space: nowrap;
  transform: scale(1);
  transition: all 0.5s ease;
}
.Navmenu-li:hover {
  text-shadow: 0rem 0rem 1rem #f06135;
  transform: scale(1.1);
}
.Navmenu-li:active {
  color: #f06135;
}
.Navmenu-a {
}
.Rrss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.Rrss-li {
}
.Rrss-a {
}
.Rrss-svg {
  padding: 0.3125rem;
  width: 2rem;
  height: 2rem;
  transition: all 0.5s ease;
  transform: scale(1);
}
.Rrss-svg:hover {
  filter: drop-shadow(0rem 0rem 1rem #f06135);
  transform: scale(1.1);
}
.Rrss-svg:active {
  fill: #f06135;
}
.Main {
  min-height: 160vh;
}
.Main-wrapper {
  margin: auto;
}
.Hero {
  width: 100%;
  padding: 10rem 0;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;

  overflow: hidden;
}
.Hero-p {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  color: #f06135;
  animation: up 0.75s ease-out;
}
.Hero-h1 {
  font-size: 6rem;
  font-weight: 700;
  animation: up 1s ease-out;
}
.Hero-about {
  margin-top: 3rem;
  padding-bottom: 9rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8125rem;
  animation: up 1.25s ease-out;
}
@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}
.Footer {
  width: 100%;
  padding: 2rem;
  border-top: 1px solid #3d3d3d;
  font-weight: 500;
  background-color: #0f1108;
}
.Footer-wrapper {
  width: 90%;
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.Copyright-span {
}
.Contacto-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.Contacto-span {
  padding-right: 1rem;
}
.Mail-span {
  padding-right: 5rem;
  transition: all 0.5s ease;
  transform: scale(1);
}
.Mail-span:hover {
  text-shadow: 0rem 0rem 1rem #f06135;
  transform: scale(1.05);
}
.Mail-span:active {
  color: #f06135;
}
