/* INICIO RESET GLOBAL */

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: whitesmoke;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #0f1108;
  color: whitesmoke;
  /* opcional */
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}
/* FIN RESET GLOBAL */

.Wrapper {
  width: 80%;
}
.Header {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 0.0625rem solid #3d3d3d;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #0f1108;
}
.Header-wrapper {
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-grp {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Header-logo {
}
.Header-img {
  width: 100%;
  height: 100%;
}
.Header-nav {
}
.Header-responsive {
  margin-left: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.Navmenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.Navmenu-li {
  white-space: nowrap;
  transform: scale(1);
  transition: all 0.5s ease;
}
.Navmenu-li:hover {
  text-shadow: 0rem 0rem 1rem #f06135;
}
.Navmenu-li:active {
  color: #f06135;
}
.Navmenu-li::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background: #f06135;
  display: block;
  transition: all 0.3s ease;
}
.Navmenu-li:hover::after {
  width: 100%;
}
.Navmenu-a {
}
.Rrss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.Rrss-li {
}
.Rrss-a {
}
.Rrss-svg {
  padding: 0.3125rem;
  width: 2rem;
  height: 2rem;
  transition: all 0.5s ease;
  transform: scale(1);
}
.Rrss-svg:hover {
  filter: drop-shadow(0rem 0rem 1rem #f06135);
}
.Rrss-svg:active {
  transform: scale(1.1);
  fill: #f06135;
}
.Header-btn {
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
  display: none;
}
.Header-svg {
  margin-left: 3rem;
  fill: whitesmoke;
}
.Main {
  min-height: 135vh;
  overflow: hidden;
}
.Main-wrapper {
  margin: auto;
}
.Proyectos {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 3rem;
}
.Proyectos-section {
  width: 100%;
  height: fit-content;

  position: relative;

  animation: subeRebote 0.5s ease-out backwards;
}
.Proyectos > :nth-child(1) {
  animation-delay: 0s;
}
.Proyectos > :nth-child(2) {
  animation-delay: 0.1s;
}
.Proyectos > :nth-child(3) {
  animation-delay: 0.2s;
}
.Proyectos > :nth-child(4) {
  animation-delay: 0.3s;
}
.Proyectos > :nth-child(5) {
  animation-delay: 0.4s;
}
.Proyectos > :nth-child(6) {
  animation-delay: 0.5s;
}
@keyframes subeRebote {
  0% {
    transform: translate3d(0, 100vh, 0) scaleY(2);
  }
  60% {
    transform: translate3d(0, 5vh, 0) scaleY(0.9);
  }
  75% {
    transform: translate3d(0, -2vh, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, 1vh, 0) scaleY(0.985);
  }
  100% {
    transform: translate3d(0, 0vh, 0);
  }
}
.Portfolio-h1 {
  margin: 5rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  color: #f06135;
}
.Proyectos-a {
}
.Proyectos-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  padding: 0.1875rem;
  background: #0f1108;
  border-radius: 1rem;

  position: relative;

  opacity: 0.25;
  transition: all 0.5s ease;
  transform: scale(1);
}
.Proyectos-img:hover {
  padding: 0.1875rem;
  background: linear-gradient(25deg, #fff800 0%, #f06135 40%, #f06135 60%, #fff800 100%);
  box-shadow: 0rem 0rem 2rem 0.125rem rgba(236, 180, 28, 0.4);
  border-radius: 1rem;

  opacity: 1;
  transform: scale(1.05);
}
.Proyectos-h2 {
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-shadow: 0 0 2rem black;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;

  position: absolute;
  top: calc(50% - (3rem / 2));

  pointer-events: none;
}
.Lightbox {
  width: 100%;
  min-height: 100vh;
  background-color: #0f1108;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
  pointer-events: none;

  opacity: 0;
  transition: all 0.3s ease;
}
.Lightbox.isActive {
  opacity: 1;
  cursor: default;
  pointer-events: auto;
}
.Main-lightbox {
  margin: auto;
}
.Galeria-div {
  display: none;
}
.Galeria-img {
}
.Titles-div {
  display: none;
}
.Title-h2 {
}
.Software-div {
  display: none;
}
.Software-span {
}
.lightbox-div {
  position: relative;
}
.Lightbox-btn {
  position: absolute;
  top: 8%;
  right: 12.5%;

  cursor: pointer;
  transform: scale(1);

  transition: all 0.3s ease;
  z-index: 2;
}
.Lightbox-btn:hover {
  transform: scale(1.2);
}
.Lightbox-svg {
  width: 2rem;
  height: 2rem;
  pointer-events: none;
}
.Lightbox-img {
  margin: 3vh auto;
  width: 100%;
  height: 94vh;
  border: 1vw solid whitesmoke;
  border-radius: 1rem;
  object-fit: cover;
}
.Lightbox-article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;

  gap: 1rem;

  position: absolute;
  bottom: 10%;
  left: 15%;
  right: 15%;
}
.Lightbox-title {
  background-color: #f0613585;
  padding: 1rem;
  border-radius: 1rem;
  text-shadow: 0 0 0.5rem black;
}
.Lightbox-span {
}
.Lightbox-h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.Lightbox-software {
  background-color: #f0613585;
  padding: 1rem;
  border-radius: 1rem;
  text-shadow: 0 0 0.5rem black;
}
.Lightbox-span-programas {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
}
.Extracto-div {
  display: none;
}
.Extracto-p {
}
.Lightbox-p {
  background-color: #f0613585;
  padding: 1rem;
  border-radius: 1rem;
  text-shadow: 0 0 0.5rem black;
}

.Footer {
  width: 100%;
  padding: 2rem 0;
  border-top: 0.0625rem solid #3d3d3d;
  font-weight: 500;
  background-color: #0f1108;
}
.Footer-wrapper {
  margin: auto;

  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  align-items: center;

  gap: 3rem;
}
.Copyright-span {
}
.Contacto-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.Contacto-span {
  padding-right: 1rem;
}
.Mail-span {
  padding-right: 5rem;
}
.Mail-span:hover {
  text-shadow: 0rem 0rem 1rem #f06135;
}
.Mail-span::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background: #f06135;
  display: block;
  transition: all 0.3s ease;
}
.Mail-span:hover::after {
  width: 100%;
}
.Mail-span:active {
  color: #f06135;
}

/* MEDIA QUERIES */
@media screen and (max-width: 112.5rem) {
  .Proyectos {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5rem;
  }
  .Proyectos-h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 100rem) {
  .Lightbox-btn {
    top: 7%;
    right: 13%;
  }
}
@media screen and (max-width: 83rem) {
  .Proyectos {
    grid-template-columns: repeat(1, 1fr);
  }
  .Proyectos-h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 75rem) {
  .Header-responsive {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .Lightbox-btn {
    top: 6%;
    right: 13%;
  }
}
@media screen and (max-width: 64rem) {
  body {
    font-size: 85%;
  }
  .Lightbox-h2,
  .Lightbox-span-programas {
    font-size: 1.5rem;
  }
  .Proyectos {
    grid-template-columns: repeat(2, 1fr);
  }
  .Proyectos-h2 {
    font-size: 1.5rem;
  }
  .Navmenu-a {
    font-size: 1rem;
  }
  .Footer-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .Contacto-span {
    padding: 2rem 0;
  }
  .Mail-span {
    padding: 2rem 0;
  }
  .Contacto-div {
    margin-left: 0rem;
  }
}
@media screen and (max-width: 50rem) {
  .Proyectos {
    grid-template-columns: repeat(1, 1fr);
  }
  .Proyectos-h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 48rem) {
  body {
    font-size: 70%;
  }
  .Lightbox-h2,
  .Lightbox-span-programas {
    font-size: 1rem;
  }
  .Header-wrapper {
    flex-flow: row wrap;
  }
  .Header-responsive {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;

    background: linear-gradient(25deg, #fff800 0%, #f06135 40%, #f06135 60%, #fff800 100%);
    box-shadow: 0rem 0rem 2rem 0.125rem rgba(236, 180, 28, 0.4);
    border: 0.125rem solid whitesmoke;
    border-radius: 1rem;

    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    opacity: 0;
    transition: all 0.5s ease;
  }
  .Header-responsive.isActive {
    height: 35vh;
    margin: 1rem 0;
    padding: 3rem 0;
    opacity: 1;
  }
  .Navmenu-a {
    text-shadow: 0 0 1rem black;
  }
  .Rrss-svg {
    filter: drop-shadow(0 0 1rem black);
  }
  .Navmenu {
    display: flex;
    flex-flow: column;
  }
  .Header-btn {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  .Lightbox-btn {
    top: 6%;
    right: 15%;
  }
}
@media screen and (max-width: 30rem) {
  .Header-btn {
    width: 2rem;
    height: 2rem;
  }
  .Proyectos {
    grid-template-columns: repeat(1, 1fr);
  }
  .Proyectos-h2 {
    font-size: 2rem;
  }
  .Lightbox-btn {
    top: 5%;
    right: 14%;
  }
}
@media screen and (max-width: 24.375rem) {
  .Proyectos {
    grid-template-columns: repeat(1, 1fr);
  }
  .Proyectos-h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 18.75rem) {
  .Navmenu {
    margin-top: 2rem;
    gap: 1rem;
  }
  .Header-ul.Rrss {
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .Lightbox-btn {
    top: 5%;
    right: 14%;
  }
}
